<!--
  ~ Copyright © 2021
  ~ Asserts, Inc. - All Rights Reserved
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %d{YYYY-MM-dd HH:mm:ss.SSS} %thread %class{0} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>